/<template>
  <div>
    <a-form>
        <a-form-item label="用户名" name="name">
            <a-input />
        </a-form-item>
         <a-form-item label="密码" name="password">
            <a-input />
        </a-form-item>
         <a-form-item>
            <a-button>登录</a-button>
        </a-form-item>
    </a-form>
  </div>
</template>

<script setup lang="ts">
import {reactive,ref} from "vue"
</script>

<style lang ="less">
</style>